.body {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #eaeaea;
    border-radius: 10px;
}

.dialogs {
    background-color: #f3f2f2;
    border-radius: 10px 0 0 10px;
}

.chat {
    display: grid;
    grid-template-rows: 95% 5%;
}

.list div {
    align-content: end;
    padding: 5px;
}