.banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.profileInfo {
    height: 200px;
    display: flex;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.infoBlock {

}