.body {
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.body input {
    height: 100%;
}
.body button {
    height: 100%;
}

@media (min-width: 650px) {
    .body {
        grid-template-columns: 90% 10%;
    }
}