.body {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5px;
}

.button {
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
}

.nav {
    text-decoration: none;
}