.body {
    height: 100px;
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
}

.body img {
    pointer-events: none;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.infoBlock {
    width: 100%;
}
.infoBlock h4 {
    text-align: center;
    margin: 0;
}