.body {
    height: 100px;
    display: flex;
    margin-bottom: 5px;
}

.body img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.infoBlock {
    width: 100%;
}
.infoBlock h4 {
    text-align: center;
    margin: 0;
}