.body {
    height: 30px;
    margin-top: 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    display: grid;
    grid-template-columns: calc(100%/3.1) calc(100%/3.1) calc(100%/3.1);
    text-align: center;
}