.body {
   width: 100%;
   background-color: #eaeaea;
   min-height: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
   border-radius: 0 0 10px 10px;
   grid-area: header;
}
.body img {
   position: absolute;
}
.body .NavLink {
   position: absolute;
   top: 0;
   right: 55px;
}

.NavLink1 {
   position: absolute;
   top: 0;
   left: 0;
}


.logo {
   height: 50px;
   left: 10px;
}

.avatar {
   height: 45px;
   width: 45px;
   object-fit: cover;
   border-radius: 100%;
}