.body {
    padding: 5px;
    border-radius: 10px;
    background-color: #eaeaea;
    margin-top: 5px;
    text-align: center;
}
.body text {
    color: dimgray;
    text-decoration: none;
}
.body.opened {
    background-color: #767676;
    color: #eaeaea;
}

.nav {
    text-decoration: none;
}
.nav.opened {
    color: black;
    text-decoration: underline;
}