.logoHeader {
  position: absolute;
  left: 5px ;
  align-content: center;
}
.logoHeader img {
  align-content: center;
}

.menuHeader {
  position: absolute;
  right: 5px ;
  align-content: center;
}

.App {
  height: 98vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: grid;
  grid-template-areas:
  'header header'
  'nav content';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 0 10fr;
  grid-gap: 0;
}

@media (min-width: 750px ) {
  .App {
    grid-template-columns: 2fr 10fr;
  }

}